server:
  port: 8000

spring:
  #mysql配置
  datasource:
    username: root
    password: li0512/*
    url: jdbc:mysql://localhost:3306/leemon-cloud?serverTimezone=GMT%2b8
    driver-class-name: com.mysql.cj.jdbc.Driver

  #JPA配置
  jpa:
    database: mysql
    show-sql: true
    hibernate:
      ddl-auto: create-drop

  #指定注册到eureka server上的服务名称
  application:
    name: microservice-provider-user


#日志配置
logging:
  level:
    root: info
      # 配置日志级别，让hibernate打印出执行的SQL参数
    org.hibernate: INFO
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
    org.hibernate.type.descriptor.sql.BasicExtractor: TRACE

management:
  endpoints:
    web:
      exposure:
        #开放所有端点
        include: '*'
  endpoint:
    #是否显示健康检查详情
    health:
      show-details: always

#Eureka 配置
eureka:
  client:
    service-url:
      #指定eureka server通信地址，把该微服务注册到eureka server上
      defaultZone: http://localhost:8888/eureka/
  #是否注册IP到eureka server，默认false,为true:注册ip地址到eureka server,为false:注册主机名到eureka server
  instance:
    prefer-ip-address: true